<h2>Messages</h2>
<form {{action 'create' on='submit'}}>
    <div class="form-group">
        <label for='name'>Title</label>
      {{input value=title class="form-control" required="required"}}
    </div>

    <div class="form-group">
        <label for='location'>User</label>
      {{input value=user_id class="form-control" required="required"}}    </div>

    <p>
        <button class="btn btn-primary btn-block" type="submit">Create Message</button> with {{title}} and {{user_id}}
    </p>
</form>


<ul class="list-group">
  {{#each model as |message|}}
      <li class="list-group-item">{{message.title}} {{message.createdAt}} <small>by {{message.user.name}}</small>
          <a href="#" {{action "delete" message}}> Remove </a>
      </li>
  {{/each}}
</ul>

{{outlet}}